---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Interests from "../components/Interests.astro";
import Contact from "../components/Contact.astro";
import Top from "../components/Top.astro"
---

<script>
    document.addEventListener("scroll", () => {
        const header = document.getElementById("header");
        const topSection = document.getElementById("top");
        if (topSection && header) {
            if (window.scrollY > topSection.offsetHeight / 2) {
                header.classList.add("scrolled");
            } else {
                header.classList.remove("scrolled");
            }
        }
    });
</script>
<style>
    #main-photo {
        opacity: 1;
    }

    .scrolled #main-photo {
        opacity: 0;
    }
</style>

<Layout title="Jucaza">
    <main>
        <!-- Top Section -->
        <Top />
        <!-- Projects Section -->
        <About />
        <!-- About Section -->
        <Skills />
        <!-- Skills Section -->
        <Projects />
        <!-- Interests Section -->
        <Interests />
        <!-- Contact Section -->
        <Contact />
    </main>
</Layout>
