---
---

<section id="about" class="w-full lg:w-[740px] mx-auto py-44 flex flex-col items-center">
    <h2 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        About
    </h2>
    <p class="text-xl text-white font-semibold px-5 lg:px-0">
        I have always been passionate about science and graduated in Industrial
        Technologies Engineering, specializing in automation and robotics. I
        focused on software development, primarily in backend development.
        <br>
        <br>
        Strongly typed and compiled are my preferred languages, this paired with
        good error handling, build the most robust systems.
        <br>
        I enjoy working with Go because it is explicit, precise, and reliable—a
        very promising technology.
        <br>
        <br>
        Neovim is my tool of choice. In my spare
        time, I enjoy continuous learning and working on side projects because
        growth is always key.
    </p>
</section>
