<section
    id="contact"
    class="text-white w-full pt-48 lg:w-[740px] mx-auto flex flex-col items-center"
>
    <h2 class="text-white text-5xl font-bold">Contact</h2>
    <hr class="border-t-2 border-white w-full my-6" />
    <div
        class="text-xl w-full text-white justify-items-center bg-gradient-to-b from-gray-500/30 via-gray-300/30 to-gray-50/30
        rounded p-3"
    >
        <ul
        >
            <li>
                <strong class="mr-2">Email:</strong>
                <a
                    href="mailto:juan01cz@gmail.com"
                    class="text-blue-300 hover:underline">juan01cz@gmail.com</a
                >
            </li>
            <li>
                <strong class="mr-2">LinkedIn:</strong>
                <a
                    href="https://linkedin.com/in/juan-cano-zamora/"
                    class="text-blue-300 hover:underline"
                    >linkedin.com/in/juan-cano-zamora</a
                >
            </li>
            <li>
                <strong class="mr-2">GitHub:</strong>
                <a
                    href="https://github.com/jucaza1"
                    class="text-blue-300 hover:underline">github.com/jucaza1</a
                >
            </li>
        </ul>
    </div>
    <br />
</section>
