<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img class="rounded-full size-12" src="../../public/foto.png" alt="Jucaza foto">
  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#proyectos">Projects</a>
    <a href="#contacto">Contact</a>
  </nav>
</header>