---
import Table from "./Table.astro";
---

<section
    id="interests"
    class="w-full pt-48 lg:w-[740px] mx-auto py-16 flex flex-col items-center"
>
    <h2 class="text-white text-5xl font-bold flex flex-row gap-x-4">
        Interests
    </h2>
    <hr class="border-t-2 border-white w-full my-6" />
    <Table>
        <li>Tech podcasts </li>
        <li>Continuous learning</li>
        <li>New technologies</li>
        <li>Advent of Code</li>
        <li>Daily workout</li>
    </Table>
</section>
